*{
    margin:0;
    padding:0;
    box-sizing:border-box; /*to box model*/
}

body{
    font-family: "Merriweather", serif;
    background-color: #ebf2ff;
}
.container{
    max-width:100%;
    padding: 0 20px;
    margin:0 auto;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 100px;
}
.navbar__brand{
    width:100px;
    
}
.navbar__logo{
    width:100%;
}
.nav__item{
    background-image: linear-gradient( 
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color:#fff;
    border: none;
    padding:12px;
    border-radius: 6px; 
    cursor: pointer;
    transition: 0.5ms;
    
}
.button__primary{
    background-image: linear-gradient( 
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color:#fff;
    border: none;
    padding:12px;
    border-radius: 6px; 
    cursor: pointer;
    transition: 0.5ms;
    
}
.button__primary:hover{
    background-position: right center;
    border:2px solid pink;
}

.nav__item:hover{
    background-position: right center;
    border:2px solid pink;
}

.hero__image__conatiner{
    width:100%;
    position:relative;
    margin-bottom: 150px;
    
}
.hero__image{
    width:100%;
    border-radius: 8px;
    box-shadow:0 25px 50px -12px  rgba(0,0,0,0.25);
    position: relative;
    
}
.hero__text{
    font-size: 30px;
    margin:20px 0;
}
.hero__description{
    width:100%;
}
.hero__image__shape{
    position:absolute;
    z-index:-3;
    top:0;
    left:0;
    margin-bottom: 25px;
    
}
.hero__image__pattren{
    position:absolute;
    z-index:-3;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin-bottom: 25px; 
}
.explore__menu__text{
    font-size: 30px;
    margin-top:50px;
    margin-bottom: 25px;
    text-align: center;
}
.food__card__image__conatiner{
    width:100%
}
.food__image{
    width:100%;
    border-radius: 8px 8px 0 0;
}
.food__card{
    background-color: #fff;
    margin-bottom: 15px;
    
}
.food__card__description{
    padding:15px;
}
/*flexxxxxx*/
.restaurant__text{
    font-size: 30px;
    margin-top:50px;
    margin-bottom: 25px;
    text-align: center;
}
.restauant__images__conatiner{
    width:100%;
     gap:3px;
}
.restauant__images__row__one,.restauant__images__row__two{
    width:100%;
   display: flex;
}
.restauant__images__row__one{
    align-items: baseline;
    margin-bottom: 3px;
}

.restauant__image__1,.restauant__image__4{
    width:100%;
    height: 120px;
}
.restauant__image__2,.restauant__image__3{
    width:120%;
    height:200px;
}


.restaurant__1,.restaurant__2,.restaurant__3,.restaurant__4{
    width:100%;
    height:100%;
    padding: 3px;
}

.email__class_container{
    align-items: center;
    margin-top: 25px;

}
.email__class__text{
    
    font-size: 30px;
    margin-top:50px;
    margin-bottom: 25px;
    text-align: center;
}

.email__enter__email{
    display: flex;
    align-items: center;
    box-sizing: border-box;
   justify-content: space-evenly;
}
.email__input{
   
    margin-top: 10px;
    border-radius: 6px;
    border-color:1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 4px;
    align-self: center;
} 
.button__email{
    box-align: center;
}


.quote__above__image{
    display:flex;
    justify-content: center;
    position:relative;
    margin-top: 25px;
   
}
.quote__behind__image{
    width:100%;
    height:500px;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    overflow: hidden;
    
    z-index: -3;
    filter: blur(3px);
    
}
.quote__image{
   width:100%;
  
   
}
.quote__text{
     
    font-size: 15px;
    margin-top:50px;
    margin-bottom: 25px;
    text-align: center;
    position: absolute;
    top:50px;
    bottom: 50px;
    left:50px;
    right:20px;
    color:#fff;
    
}
.footer box_primary{
    bottom:0;
    margin-top: -200px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
}
.logo__with__buttons{
    margin-top: 100px;
    border-radius: 8px;
    background-image: linear-gradient( 
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    
}
.footer__text{
    color: #fff;
   
    
}
.footer__logo{
    background-color: #fff;
    height:70px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    width:70px;

}


@media (min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 5px 30px;

    }
    .hero__container{
        margin-top: 20px;
        display:flex;
        flex-direction: row-reverse;
        align-items: center;

    }
    .explore__menu__lists{
        display:flex;
        gap:15px;
        margin-top: 40px;
        padding:0 30px ;
    }
    #pizza__card{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .explore__menu__view__more{
        display:flex;
        justify-content: center;
    }
  .explore__menu__container{
    position: relative;
    margin-top: 30px;
  }  
.explore__menu__gradient__bg{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient( 
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    transform: skewY(-5deg);
    z-index: -3;
    
}
.restaurant__conatainer{
    display: flex;
    align-items: center;
}
.restaurant__text{
    width:100%;
    font-size: 40px;
}
.quote__text{
     
    font-size: 25px;
    margin-top:50px;
    margin-bottom: 25px;
    text-align: center;
    position: absolute;
    top:200px;
    bottom: 50px;
    left:50px;
    right:20px;
    color:#fff;
    
}
.quote__above__image{
    padding: 100px;
}
.logo__with__buttons {
    display:flex
}
.footer__text{
  margin-left: 500px;
}
}




@media(min-width:1020px){
    .conatiner{
        max-width: 900px;
    }
    .navbar__brand{
        width:150px;
    }
    .button__primary{
        padding: 20px;
        font-size:20px;
    }
    .hero__text{
        font-size: 50px;
    }
    .explore__menu__lists{
        gap:40px;
    }
    .explore__menu__text{
        font-size: 50px;
    }
}
@media (min-width:1400px){
    .conatiner{
        max-width: 1250px;
    }
}